* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

#content {
    display: inline-block;
    margin: 0 auto;
    border: #cbc2c2 5px solid;
    width: 65%;
    height: 24rem;
}

.box {
    display: inline-block;
    position: relative;
    width: 22.65%;
    height: 8rem;
}

/*First box*/

 div > h1 {
    font-size: 14px;
     text-align: center;
}

#Bradley-cooper {
    background-color: rgb(53, 188, 122);
    width: 46%;
    height: 8rem;
}

#Bradley-cooper > p {
    font-size: 10px;
    margin-top: 2rem;
    margin-left: 1rem;
}

#resume, #contact {
    display: inline-block;
    font-weight: bold;
    border: white 1px solid;
    margin-top: 1rem;
    width: 4.3rem;
    font-size: 10px;
}

#contact {
    float: right;
    margin-right: 5rem;
    text-align: center;
}

#resume {
    margin-left: 1rem;
    text-align: center;
}

/*second box */

#profile {
    background-color: rgb(253, 159, 4);
    width: 22%;
    height: 8rem;
    margin-left: 46%;
    bottom: 8rem;
}

#profile > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*third box*/

#exp {
    float: left;
    background-color: rgb(30, 139, 196);
    bottom: 8rem;
}

#exp > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
}

/*fourth box*/

#educ {
    float: left;
    background-color: rgb(241, 90, 73);
    bottom: 8rem;
}

#educ > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*fifth box*/

#blog {
    background-color: rgb(53, 188, 122);
    bottom: 8rem;
}

#blog > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*sixth box*/

#social {
    float: left;
    background-color: rgb(248, 105, 37);
    bottom: 8rem;
}

#social > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*seventh box*/

#co {
    float: left;
    background-color: rgb(30, 139, 196);
    bottom: 8rem;
}

#co > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*eighth box*/

#folio {
    background-color: rgb(248, 105, 37);
    bottom: 8rem;
}

#folio > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*image*/

img {
    position: relative;
    float: right;
    width: 32%;
    height: 24rem;
    bottom: 8rem;
    z-index: -3;
}

#arrow-r {
    margin-right: 40rem;
}

#arrow-l {
    margin-right: 26.5rem;
}

#arrow-l, #arrow-r {
    display: inline-block;
    color: white;
    width: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 31;
    float: right;
    margin-top: -25%;
}

@media screen and (max-width: 800px){

    #contact, #profile, #exp, #educ, #blog, #social, #co, #folio, img {
      bottom: 8rem;
    }

    #arrow-r, #arrow-l {
        vertical-align: top;
        margin-top: -35%;
    }

    #arrow-r {
        float: left;
        margin-left: 45%;
    }

    #arrow-l {
        margin-right: 17rem;
    }
}

@media screen and (max-width: 800px) {

    #contact, #profile, #exp, #educ, #blog, #social, #co, #folio, img {
        bottom: 9.42rem;
    }
}

@media screen and (max-width: 750px) {

    #contact, #profile, #exp, #educ, #blog, #social, #co, #folio, img {
        bottom: 9.45rem;
    }

    #arrow-r, #arrow-l {
        margin-top: -18rem;
    }

    #content {
        height: 31rem;
    }

    .box {
        height: 6rem;
        display: flex;
        justify-content: flex-start;
    }

    img, #arrow-l, #arrow-r {
        display: none;
    }

    #Bradley-cooper {
        width: 100%;
        height: 7rem;
    }

    #exp {
        display: flex;
        margin-top: 9.45rem;
        width: 50%;
    }

    #exp > p {
        margin-left: 2rem;
    }

    #profile {
        justify-content: left;
        margin-left: 0;
        float: right;
        width: 50%;
        margin-top: 9.45rem;
        height: 6rem;
    }

    #profile > p {
        margin-left: 3rem;
    }

    #educ, #blog, #social, #co {
        display: flex;
        width: 50%;
    }

    #educ > p, #social > p, #co > p {
        margin-left: 2rem;
    }

    #blog > p {
        margin-left: 3rem;
    }

    #folio {
        width: 100%;
        border: black 1px solid;
    }

    #folio > p {
        margin-left: 7rem;
    }
}

@media screen and (max-width: 365px) {

    #resume {
        margin-left: 5rem;
        text-align: center;
        margin-top: 0.3rem;
    }


    #contact {
        display: none;
    }

    #profile {
         margin-top: 9.4rem;
     }

    #exp {
        margin-top: 9.4rem;
    }

    #folio {
        width: 99%;
    }

    #folio > p {
        margin-left: 5rem;
    }

    #exp >p, #educ > p, #social >p {
        margin-left: 1rem;
    }

}

@media screen and (max-width: 320px) {

    #profile > p, #co > p {
        margin-left: 1.3rem;
    }

    #blog > p {
        margin-left: 2rem;
    }
}