* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

#content {
    display: inline-block;
    border: #cbc2c2 5px solid;
    width: 65%;
    height: 24rem;
}

.box {
    display: inline-block;
    position: relative;
    width: 22.65%;
    height: 8rem;
}

/*First box*/

 div > h1 {
    font-size: 14px;
     text-align: center;
}

#Bradley-cooper {
    background-color: rgb(53, 188, 122);
    width: 46%;
    height: 8rem;
}

#Bradley-cooper > p {
    font-size: 10px;
    margin-top: 2rem;
    margin-left: 1rem;
}

#resume, #contact {
    display: inline-block;
    font-weight: bold;
    border: white 1px solid;
    margin-top: 1rem;
    width: 4.3rem;
    font-size: 10px;
}

#contact {
    float: right;
    margin-right: 5rem;
    text-align: center;
}

#resume {
    margin-left: 1rem;
    text-align: center;
}

/*second box */

#profile {
    background-color: rgb(253, 159, 4);
    width: 22%;
    height: 8rem;
    margin-left: 46%;
    bottom: 8rem;
}

#profile > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*third box*/

#exp {
    float: left;
    background-color: rgb(30, 139, 196);
    bottom: 8rem;
}

#exp > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
}

/*fourth box*/

#educ {
    float: left;
    background-color: rgb(241, 90, 73);
    bottom: 8rem;
}

#educ > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*fifth box*/

#blog {
    background-color: rgb(53, 188, 122);
    bottom: 8rem;
}

#blog > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*sixth box*/

#social {
    float: left;
    background-color: rgb(248, 105, 37);
    bottom: 8rem;
}

#social > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*seventh box*/

#co {
    float: left;
    background-color: rgb(30, 139, 196);
    bottom: 8rem;
}

#co > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*eighth box*/

#folio {
    background-color: rgb(248, 105, 37);
    bottom: 8rem;
}

#folio > P{
    text-align: center;
    margin-top: 3rem;
    font-size: 13px;
    font-weight: bold;
}

/*image*/

img {
    position: relative;
    float: right;
    width: 32%;
    height: 24rem;
    bottom: 8rem;
    z-index: -3;
}

#arrow-r {
    margin-right: 28rem;
    margin-top: -33%;
}

#arrow-l {
    margin-right: 19rem;
    margin-top: -33%;
}

#arrow-l, #arrow-r {
    display: inline-block;
    color: white;
    width: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 31;
    float: right;
}







